*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.contenedor{
    margin-top: 5rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    width: 275px;
    padding: 1.5rem;
}

.contenedor-imagen{
    position: relative;
}

.contenedor-imagen div{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 60%);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.contenedor-imagen div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}

.contenedor-imagen div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainImg{
    width: 100%;
    height: 100%;
    height: auto;
    border-radius: 5px;
}

h3{
    margin-top: 1.5rem;
    font-size: 20px;
    font-weight: 600;
}

.contenedor-informacion{
    margin: 0.6rem 0 1rem 0;
    color: hsl(215, 32%, 27%);
    line-height: 30px;
    font-weight: 300;
}

.contenedor-precioyfecha{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 51%, 70%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.precio{
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-size: 14px;
    letter-spacing: 1px;
}

.precio img{
    margin-right: 5px;
}

.fecha{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-size: 14px;
}

.fecha img{
    margin-right: 5px;
}

.perfil{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: hsl(215, 51%, 70%);
}

.avatar{
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 1rem;
    width: 30px;
}

span{
    color: white;
    margin-left: 5px;
}

.mainImg,
h3,
span{
    cursor: pointer;
}

h3:hover,
span:hover{
    color: hsl(178, 100%, 50%);
}

.attribution { font-size: 11px; text-align:center; position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;}
.attribution a { color: hsl(228, 45%, 44%); }